body {
    background-color: #222;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    display: flex;
}
h1 {
    font-size: 24px;
    text-align: center;
    color: #f0e68c; /* cor amarela suave */
}
main {
    flex-grow: 1;
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.selected {
    background-color: #f0e68c;
    color: black;
}