.cell {
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-weight: 800;
    color: rgb(58, 58, 58);
}

.open{
    background-color: silver;
}
.mine{
    background-color: rgb(247, 73, 73);
}
.n1{
    background-color: #98FB98;
}
.n2{
    background-color: #F5DEB3;
}
.n3{
    background-color: #F4A460;
}