.cell {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    cursor: pointer;
}

.open{
    background-color: silver;
}